# locall
# NEXT_PUBLIC_SERVER_URL=http://localhost:8000/api/v2
# NEXT_PUBLIC_SOCKET_URL=http://localhost:8000

# Render Testing
# NEXT_PUBLIC_SERVER_URL=https://turkey-tm-server-v2.onrender.com/api/v2
# NEXT_PUBLIC_SOCKET_URL=https://turkey-tm-server-v2.onrender.com

# Production
NEXT_PUBLIC_SERVER_URL=https://api.turkeytrademarket.com/api/v2
NEXT_PUBLIC_SOCKET_URL=https://api.turkeytrademarket.com